{% extends "tube/base.html" %}
{% load static %}

{% block extra_head %}
{{ block.super }}
<script>
    const PATH              = {};
    PATH["mylist"]          = "{% url 'tube:mylist' %}";
    PATH["mylist_folder"]   = "{% url 'tube:mylist_folder' %}";
</script>
<script src="{% static 'tube/js/mylist.js' %}"></script>
{% endblock %}

{% block main %}
<h2><a href="{% url 'tube:mylist' %}">マイリスト</a></h2>

<input id="mylist_tab_radio_1" class="mylist_tab_radio" type="radio" name="mylist_tab">
<input id="mylist_tab_radio_2" class="mylist_tab_radio" type="radio" name="mylist_tab" checked>

<div class="mylist_tab_label_area">
    <label class="mylist_tab_label" for="mylist_tab_radio_1">設定</label>
    <label class="mylist_tab_label" for="mylist_tab_radio_2">マイリストフォルダ一覧</label>
</div>

<div id="mylist_tab_body_1" class="mylist_tab_body">{% include "tube/mylist/config.html" %}</div>
<div id="mylist_tab_body_2" class="mylist_tab_body">{% include "tube/partial/large_video_content_mylist.html" %}</div>

{% endblock %}
